.listings{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box{
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.box2{
    padding: 20px;
    margin: 20px;
    text-align: left;
}
.card{
    width: 180px;
    height: 205px;
    padding: 20px;
    -webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
    margin: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 1.8em;
}
.card2{
    width: 265px;
    height: 295px;
    padding: 20px;
    -webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
    margin: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 1.8em;
}

.hover-effect:hover{
    -webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}