/**
 * @author Mitul Pravinbhai Malani (B00869519)
 * CSS for BookList component
 */
.books-container {
  height: 100vh;
}

.books-list-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  column-gap: 1.5rem;
  row-gap: 2rem;
  justify-content: center;
  padding-bottom: 50px;
}

.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px 0;
}

.btn-close:focus {
  box-shadow: none !important;
}

@media only screen and (max-width: 576px) {
  .books-list-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
