.head {
  width: 100%;
  font-size: 32px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  border-bottom: 3px solid #0166b2;
  color: #0166b2;
}
.Contact {
  width: 100%;
  font-size: 24px;
  margin-top: 20px;
  display: flex;
  padding: 10px;
  text-align: center;
  border-bottom: 3px solid #0166b2;
  color: #0166b2;
}
.dashboard-header {
  width: 100%;
  font-size: 24px;
  display: flex;

  padding: 10px;
  text-align: center;
  border-bottom: 3px solid #0166b2;
  color: #0166b2;
}
.container_profile_user {
  position: relative;
  cursor: pointer;
}
.container-about-us {
  border-radius: 15px;
  border-style: hidden;
  padding: 18px;
  text-align: center;
}

.container-about-us > p {
  font-family: "Slabo 27px", serif;
  font-size: 20px;
  padding-right: 30px;
  padding-left: 30px;
}
.container-about-us > h1 {
  font-family: "Ruda", sans-serif;
}
/* .dashboard-header{
    
    text-align: center;

    font-family: 'Ruda', sans-serif; */

.favorite-book-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-1 {
  text-align: center;
  margin-bottom: 40px;
}
.favorite-book-container > div {
  width: 220px;
  height: 280px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-style: hidden;
  border-radius: 30px;
}

.favorite-book-container img {
  margin-top: 10px;
}

.favorite-book-container > div:hover {
  transform: scale(1.1);
}
.book-title {
  height: 36px;
  font-family: IbmPlex Medium;
  font-size: 16px;
  line-height: 1.1;
  text-transform: uppercase;
  margin: 12px 0 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-align: center;
}

.book-author {
  height: 22px;
  font-family: IbmPlex Light;
  font-size: 14px;
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
}

.text-color {
  color: #808080;
  background-color: #f0f0f0 !important;
}
.second-part {
  height: 150vh;
  width: 100%;
  color: #6e6e6dff;
}

.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.borrowedtitle {
  background-color: lightblue;
  text-align: center;

  font-family: "Ruda", sans-serif;
}

.img-box {
  height: 15%;
  width: 15%;
  border: darkmagenta 2px solid;
  border-radius: 10%;
}

.second-part-heading {
  width: 100%;
  height: 10vh;
  text-align: center;
  font-family: "Verdana, Geneva, Tahoma, sans-serif";
  margin-top: 2%;
  font-size: 25px;
}

.card {
  margin-left: 10%;
}

.wallpaper {
  height: 121vh;
  width: 100% !important;
  display: flex;
}

.home-page-center-1 {
  height: auto;
  width: 50%;
  float: left;
  background-color: #6e6e6dff;
}

.home-page-center-2 {
  height: auto;
  width: 50%;
  float: left;
  background-color: #fad0c9ff;
}

.home-page-center-1-content {
  margin: 22% 0 0 20%;
}

.card-1 {
  float: left;
  margin: 0 0 0 3%;
}

.card-2 {
  float: left;
  margin: 0 0 0 10%;
}

.card-3 {
  float: left;
  margin: 0 0 0 10%;
}

.home-page-center-2-content {
  margin: 25% 0 0 20%;
  color: #6e6e6dff;
  font-weight: 600;
  font-size: large;
}

.card-body {
  color: #6e6e6dff;
}

.btn.btn-light {
  background-color: #6e6e6dff;
  color: #fad0c9ff;
}
.btn.btn-light:hover {
  background-color: #fad0c9ff;
  color: #6e6e6dff;
}

.set-dropdown {
  height: 15em;
  width: 17em;
  background-color: rgb(52, 58, 64, 0.7);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  margin-right: 0.5em;
  margin-top: 7vh;
  border-radius: 2%;
  text-align: center;
  color: #e2e6e9;
}

.set-dropdown-h {
  margin-top: 1em;
  color: #b3e6ff;
}

.set-dropdown-hr {
  background-color: #c6cdd2;
  width: 90%;
  margin-bottom: 2em;
}

.set-dropdown-btn-1 {
  cursor: pointer;
  height: 2.6em !important;
  font-size: 1.1em;
}

.set-dropdown-btn-1:hover {
  background-color: rgb(26, 26, 26, 0.7);
}
