/**
 * @author Mitul Pravinbhai Malani (B00869519)
 * CSS for cart page and components
 */
.cart-container {
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
}

.cart-main-wrapper {
  height: 100%;
  width: 1000px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0 10px;
  font-family: IbmPlex Medium;
}

.cart-header {
  display: flex;
  flex-direction: column;
  width: 68%;
  margin-right: 20px;
}

.cart-books {
  padding: 10px;
  overflow-y: scroll;
}

.cart-book-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.book-details-delete-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.book-details-wrapper {
  display: flex;
}

.cart-book-image-cover {
  max-height: 180px;
  height: 180px;
  margin: 0 40px 0 20px;
}

.cart-book-image {
  border-radius: 3px;
  max-width: none;
  width: 100%;
  height: 100%;
  box-shadow: 0px 6px 12px rgb(0 0 0 / 30%);
}

.cart-book-title {
  font-family: IbmPlex Medium;
  font-size: 16px;
  line-height: 1.1;
  text-transform: uppercase;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
}

.cart-book-author {
  font-family: IbmPlex Light;
  font-size: 14px;
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

.cart-header-title {
  width: 100%;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  border-bottom: 3px solid #0166b2;
  color: #0166b2;
}

.cart-remove-book-icon {
  height: 20px;
  width: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.books-link {
  text-align: right;
  margin: 10px;
  color: #0166b2 !important;
  text-decoration: none;
}

.books-link:hover {
  text-decoration: underline;
}

.back-icon {
  margin-right: 10px;
}

.cart-order-summary {
  min-width: 250px;
  width: 27%;
  border: 1px solid #0166b2;
  padding: 10px;
  margin-bottom: 15px;
}

.order-summary-title {
  font-size: 24px;
  border-bottom: 3px solid #0166b2;
  color: #0166b2;
  padding: 5px;
}

.order-summary-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 60px);
}

.order-summary-item {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 100px;
}

.apply-promo-button {
  width: max-content;
  padding: 5px 20px 2px;
  margin: 10px auto 30px;
  font-family: IBMPlex Medium;
  font-weight: 400;
  border-radius: 5px;
  box-shadow: none !important;
  border: 1px solid #fff !important;
  text-transform: uppercase;
  color: #fff;
  background-color: #0166b2;
}

.apply-promo-button:hover {
  background-color: #fff;
  color: #0166b2;
  border: 1px solid #0166b2 !important;
}

.divider {
  border-bottom: 3px solid #0166b2;
}

.total-cost {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.checkout-button {
  width: 100%;
  padding: 10px 20px 7px;
  margin: 10px 0 0;
  font-family: IBMPlex Medium;
  font-weight: 400;
  border-radius: 5px;
  box-shadow: none !important;
  border: 1px solid #fff !important;
  text-transform: uppercase;
  color: #fff;
  background-color: #0166b2;
}

.checkout-button:hover {
  background-color: #fff;
  color: #0166b2;
  border: 1px solid #0166b2 !important;
}

.checkout-button:hover svg {
  color: #0166b2;
}

@media only screen and (max-width: 992px) {
  .cart-book-image-cover {
    margin: 0 20px 0 0;
  }
  .cart-remove-book-icon {
    margin-right: 0;
  }
}

@media only screen and (max-width: 768px) {
  .cart-main-wrapper {
    display: unset;
    width: 100%;
    height: max-content;
  }
  .cart-header {
    width: 100%;
  }
  .cart-order-summary {
    max-width: 100%;
    margin: 10px auto;
  }
}

@media only screen and (max-width: 450px) {
  .cart-book-wrapper {
    flex-direction: column;
  }
  .book-details-delete-wrapper {
    margin: 20px;
    justify-content: space-between;
    width: 100%;
  }
   .cart-order-summary {
    min-width: 100%;
  }
}
