/* Author: Mitul Pravinbhai Malani (B00869519) */
.books-filter-wrapper {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-check-input:checked {
    background-color: #0166B2 !important;
    border-color: #0166B2 !important;
}

.form-check-input:active, .form-check-input:focus {
    box-shadow: 0 0 0 0.25rem #0166B240 !important;
}